<mat-toolbar style="background-color: maroon;color: white;">My App</mat-toolbar>

<mat-sidenav-container>
<mat-sidenav mode="side" opened>
  <mat-nav-list style="width: 200px;">
    <a mat-list-item routerLink="billing">
      ADD LOYALTY
    </a>
  </mat-nav-list>
  <mat-nav-list style="width: 200px;">
    <a mat-list-item routerLink="mail">
      EVENT CREATE
    </a>
  </mat-nav-list>
  <mat-nav-list style="width: 200px;">
    <a mat-list-item routerLink="loyalty">
      SENDING MAIL
    </a>
  </mat-nav-list>
  <mat-nav-list style="width: 200px;">
    <a mat-list-item routerLink="addtest">
      Add Test
    </a>
  </mat-nav-list>
  <mat-nav-list style="width: 200px;">
    <a mat-list-item routerLink="report">
    Report
    </a>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
<p style="height:86.7vh">
 <router-outlet></router-outlet>
</p>

</mat-sidenav-content>
</mat-sidenav-container>